body{
  font-family: 'Fira Sans', sans-serif !important;
  background-color: #f6f7f9;

}

input:focus{

  /* border-radius: 10px !important; */
  /* box-shadow: 0px !important; */
  border: 2px solid #346cb0 !important;
  box-shadow: 0px 0px 0px 0px !important;
}
input{

  border: 2px solid #c6c9d5 !important;
  box-shadow: 0px 0px 0px 0px !important;
}
select{
  border: 2px solid #c6c9d5 !important;
  box-shadow: 0px 0px 0px 0px !important;
  font-family: 'Fira Sans', sans-serif !important;
}
select:focus{
  border: 2px solid #346cb0 !important;
  box-shadow: 0px 0px 0px 0px !important;
}
select:focus + .focus {
  position: absolute !important;
  top: -1px !important;
  left: -1px !important;
  right: -1px !important;
  bottom: -1px !important;
  border: 2px solid var(--select-focus) !important;
  border-radius: inherit !important;

}
option{
    border-radius: 20px !important;
    /* color: white !important; */
    /* background-color: #346cb0 !important; */
    padding-left: 22px !important;
    height : 21px !important;
}
.table-custom{
  border: 2px solid #346cb0 !important;
  border-radius: 20px !important;
  box-shadow: 0px 0px 0px 0px !important;
}
.btn{
  box-shadow: 0px 0px 0px 0px !important;
}
.btn-primary{
  background-color: #346cb0 !important;
  box-shadow: 0px 0px 0px 0px !important;
}
.btn-primary:hover{
  background-color: #224f85 !important;
  box-shadow: 0px 0px 0px 0px !important;
}
